.imgfake{
    width: 170px;
    height: 150px;
    background-size: cover;
}
.coll{
    align-items: center;
    display: flex;
   gap: 7px;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom:40px;
background-size: cover;
padding: 15px;
}
.price{
    color: black;
    font-size: 20px;
    font-weight: 600;
}