.twiceDepartment {
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.twiceDepartment a {
  text-decoration: none;
  color: #0166F2;
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.shop {
  font-size: 43px; /* خلي حجم الأيقونة مناسب */
  font-weight: 600;
}

.thirdDepartment {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.heart {
  font-size: 27px;
}

.all {
  margin-top: 15px;
  background-color: #fff;
}

hr {
  border: 1px solid #000000;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

small {
  padding: 0px 2px;
  background-color: #F02124;
  border-radius: 17px;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
  height: 20px;
  position: absolute;
  top: -16px;
  right: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  list-style: none;
}

#bag {
  font-size: 27px;
  font-weight: 400;
  position: relative;
  display: inline-block; /* لضمان أن العنصر .bag يعامل كصندوق محيط */
}

/* لضبط التصميم في الشاشات الصغيرة */
@media (max-width: 992px) {
  .navbar-toggler {
    display: block; /* عرض زر القائمة في الشاشات الصغيرة */
  }
  .shop {
    color: #000000;
  }
  
  .onceDepartment {
    display: block; /* إخفاء onceDepartment بشكل افتراضي */
  }
  
  .navbar-collapse.show .onceDepartment {
    display: block; /* عرض onceDepartment عند فتح القائمة */
  }
}

/* إظهار الحقيبة بغض النظر عن حجم الشاشة */
#bag {
  display: inline-block; /* ضمان عرض الأيقونة */
}

/* تصميم مخصص للأيقونة حسب حجم الشاشة */
@media screen and (max-width: 767px) {
  #bag {
    font-size: 24px; /* حجم الأيقونة في أجهزة الجوال */
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #bag {
    font-size: 28px; /* حجم الأيقونة في الأجهزة اللوحية */
    color: black;
  }
}

@media screen and (min-width: 992px) {
  #bag {
    font-size: 32px; /* حجم الأيقونة في الأجهزة الكبيرة */
    color: black;
  }
}
